$body-font: Arial, sans-serif;
$header-font: Lucida Grande, Times, serif;

$type-scale: (
	sm: (
		70: 0.75rem,
		80: 0.875rem,
		90: 1rem,
		100: 1.125rem,
		110: 1.5rem,
	),
	lg: (
		70: 0.75rem,
		80: 0.875rem,
		90: 1rem,
		100: 1.125rem,
		110: 3.5rem,
	),
);
