---
// Layout
import Layout from '../components/Layout.astro'
// Component Imports
import Thumbnail from '../components/Thumbnail.astro';
import palettes from '../data/colours.json';
---
<Layout>
    {palettes.map((palette) => (
        <section>
            <h2>{palette.scheme}</h2>
            <div class="thumbnails">
            {palette.shades.map((shade)=>(
            <Thumbnail title={shade.token} />
            ))}
                        </div>

        </section>       
    ))}
</Layout>

<style lang="scss">
.thumbnails {
    display: flex;
        flex-wrap: wrap;
    padding: 1rem 1rem;
}
</style>