---
import '../scss/main.scss'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Design System Sass</title>
	</head>
	<body>
    <div class="container">
					<h1>Design System</h1>
        <slot />
    </div>
	</body>
</html>